<div class="container" xmlns="http://www.w3.org/1999/html">

  <div [hidden]="submitted">

    <form (ngSubmit)="onSubmit()" #weatherForm="ngForm" class="spaceAll text-center border border-light p-5">
      <h1 class="mb-4">Weather Information</h1>
      <div class="info">
      <p>Enter the longitude and latitude of a localisation to have its weather information ! </p>
      <p>If the information is not valid, we will let you know ...</p>
      </div>
        <div class="form-row mb-4">
        <div class="col">
        <label for="lat" class ="h4">LATITUDE</label>
        <input type="number" class="form-control" id="lat"
               required
               [(ngModel)]="model.latitude" name="lat"
               #latitude="ngModel">
        <div [hidden]="latitude.valid || latitude.pristine"
             class="alert alert-danger">
          Latitude is required
        </div>
      </div>
        <div class="col">
        <label for="long" class ="h4">LONGITUDE</label>
        <input type="number" class="form-control" id="long"
               required
               [(ngModel)]="model.longitude" name="long"
               #longitude="ngModel">
        <div [hidden]="longitude.valid || longitude.pristine"
             class="alert alert-danger">
          Longitude is required
        </div>
      </div>
      </div>
      <div class="space">
      <button type="submit" class="btn btn-success" [disabled]="!weatherForm.form.valid" (click)="getWeatherInformation(latitude.value,longitude.value)" >Submit</button>
      </div>
    </form>
  </div>
  <div class="text-center border border-light p-5" [hidden]="!submitted" >

    <div class="spaceAll" id="pdfTable">
    <h1 class="mb-4">Your weather Information is :</h1>

    <div class="row space myTable" >
      <div class="col-xs-15 spaceTable">Temperature</div>
      <div class="col-xs-15 spaceTable">{{ output.temperature }}</div>
    </div>
    <div class="row space myTable" >
      <div class="col-xs-15 spaceTable">Humidity</div>
      <div class="col-xs-15 spaceTable">{{ output.humidity }}</div>
    </div>
    <div class="row space myTable">
      <div class="col-xs-15 spaceTable">Wind Speed</div>
      <div class="col-xs-15 spaceTable">{{ output.windSpeed }}</div>
    </div>
    </div>
    <div class="space">
    <button type="button" class="btn btn-primary " (click)="submitted=false">Edit</button>
    <button type="button" class="btn btn-default" (click)="export(); weatherForm.reset()">Export Information</button>

    </div>
  </div>

</div>
