.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

h1{
  margin: 1em 0 0.5em 0;
  color: #343434;
  font-weight: normal;
  font-family: 'Ultra', sans-serif;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  text-shadow: 0 2px white, 0 3px #777;
}
form {
  width: 550px;
  height: 450px;
  margin: auto;
  position: relative;
}

.myTable {
  width: 200px;
  margin: auto;
  position: relative;
}

.space {
  margin-top: 40px;
}

.spaceAll {
  margin-top: 100px;
}

.spaceTable{
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Serif ;
  font-size: 25px;
}

div.row {
  border-radius: 10px;
  border: 1px solid;
  border-bottom: 1px solid;
  border: 2px solid #D0E0E3;
}

.info{
  border-radius: 25px;
  background: #D9EAD3;
  padding: 20px;

}



